ion-title {
  font-weight: 700 !important;
  text-align: left !important;
  font-size: 1.1rem !important;
}

ion-card-subtitle {
  padding-bottom: 0.5rem !important;
  margin-bottom: 1.5rem !important;
  border-bottom: 1px solid #eeeeee !important;
}
