<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="b-07">{{ item.dsc_produto }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="actionCampanha(item.id)">
    <img
      src="https://marketing.condor.com.br/api/Containers/produtos/download/{{
        item.cod_produto
      }}.jpg"
    />
    <ion-card-header>
      <ion-card-subtitle>SKU {{ item.cod_produto }}</ion-card-subtitle>
      <ion-card-title>{{ item.dsc_produto }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6"> {{ item.dsc_departamento }} </ion-col>
          <ion-col size="6">{{ item.dsc_setor }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
