<ion-content>
  <img src="./assets/login.png" alt="" />
  <ion-list class="p-4" *ngIf="logged === true">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
    <ion-button
      color="danger"
      class="mt-4 b-07"
      expand="block"
      (click)="onLogin()"
    >
      <ion-icon name="log-in" class="mr-1"></ion-icon>
      Acessar
    </ion-button>
  </ion-list>
  <ion-list class="p-4" *ngIf="logged === false">
    <ion-button
      color="danger"
      class="mt-4 b-07"
      expand="block"
      (click)="onLogout()"
    >
      <ion-icon name="log-ou" class="mr-1"></ion-icon>
      Sair do Sistema
    </ion-button>
  </ion-list>
</ion-content>
