<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab4">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab1">
      <ion-icon name="star"></ion-icon>
      <ion-label>Campanhas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Landing Page</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
