.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.card-content-ios {
  padding-top: 0px !important;
  padding-bottom: 10px !important;
}

ion-card-title {
  font-weight: 800 !important;
  font-size: 1.5rem !important;
  text-align: center !important;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eeeeee;
}

ion-card-header {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
}
