<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Campanhas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of campanhas" (click)="actionCampanha(item.id)">
    <ion-card-header>
      <ion-card-title>{{ item.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <p>Codigo: {{ item.codigo }}</p>
            <p>
              Inicio: {{ item.vigencia_inicio | date: 'dd/MM/yyyy' }}
            </p>
          </ion-col>
          <ion-col size="6">
            <p>Carousel: {{ item.description }}</p>
            <p>
              Fim: {{ item.vigencia_fin | date: 'dd/MM/yyyy' }}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
