<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Landing Pages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item
      *ngFor="let item of cooperadas"
      (click)="getCooperada(item.slug, item.name)"
    >
      <ion-label>{{ item.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
