<ion-header>
  <ion-toolbar color="danger">
    <ion-title>LP: {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let i of items">
      <ion-label>{{i.block}}</ion-label>
      <ion-toggle
        color="primary"
        [(ngModel)]="i.action"
        (ionChange)="selectChange(i)"
      ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
