<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Produtos da Campanha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="search($event)"
  ></ion-searchbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="getProduct(item.id)">
      <ion-avatar slot="start">
        <img
          src="https://marketing.condor.com.br/api/Containers/produtos/download/{{
            item.image
          }}.jpg"
        />
      </ion-avatar>
      <ion-label>
        <h2>{{ item.dsc_produto }}</h2>
        <h3>SKU {{ item.cod_produto }}</h3>
        <p text-center>
          <!-- <span *ngIf="precoRede">Rede R$ {{ precoRede }} |</span>
            <span *ngIf="precoSC">SC R$ {{ precoSC }} |</span>
            <span *ngIf="precoNorte">Norte R$ {{ precoNorte }} </span> -->
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
